requests==2.22.0
pyodbc==4.0.27
## The following requirements were added by pip freeze:
certifi==2019.9.11
chardet==3.0.4
entrypoints==0.3
flake8==3.7.0
idna==2.8
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
urllib3==1.25.8
